$bgcolor: #222222;
$textcolor: lightgray;
$fontsize: 16px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}

body {
  margin: 40px auto;
  max-width: 700px;
  line-height: 1.6;
  padding: 0 10px
}

h1, h2, h3 {
  line-height:1.2
}

pre {
  @include border-radius(5px);
  padding:10px;
  overflow: scroll;
}

a:link {
  color: $textcolor;
  text-decoration: none;
}

a:visited {
  color: $textcolor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}